.button
{
    background-color:#0f6634;
}

.homepage-section1
{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('backgroundImage/woman-office-chart.webp');
    background-size: cover;
    background-position: top;


}

.homepage-mt-section1
{
    margin-top: 17rem !important;
}

.homepage-mt-section2
{
    margin-top: 4rem !important;
}

.homepage-bg-section1
{
    background-color:#a6ba16;
}

.homepage-button
{
    background-color: white !important;
}

.homepage-grey-button
{
    background-color:#d9d9d9 !important;
}

.text-purple
{
    color: #7030a0;
}

.homepage-section3
{
    background: linear-gradient(rgba(89, 112, 96, 0.7), rgba(89, 112, 96, 0.7)), url('backgroundImage/bgImage2.webp');
    background-size: cover;
    background-position: top;

}

.homepage-text-red
{
    color:#ff6161;
}

.homepage-text-green
{
    color: #7b9786;
}

.homepage-text-orange
{
    color: #ffc000;
}

.homepage-bg-green
{
    background-color:#7b9786 !important;
}

.homepage-bg-white
{
    background-color:#FFFFFF !important;
}

.text-underline
{
    text-decoration: underline;
}

.homepage-section2
{
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('backgroundImage/bgImage1.webp');
    background-size: cover;
    background-position: top;

}

.homepage-bg-transparent-black
{
    background-color: rgba(0,0,0,0.5);
}

#fade-in-element {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.hidden {
    display: none;
}

.vertical-text
{
    writing-mode: vertical-rl;
    white-space: nowrap;
}

.homepage-padding
{
    padding: 10rem;
}

.hide-overflow
{
    overflow-x: hidden;
}




