<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteBase /

   # Route all requests to index.php except existing files or directories
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteRule ^(.*)$ index.php [QSA,L]

</IfModule>